<h3>
  inbuild-pipe works!
</h3>

<!-- <h2> {{strdetail}} </h2>
<h2> {{strdetail | lowercase }} </h2>

<h2> {{strdetail | uppercase }} </h2>
<h2> {{strdetail | titlecase }} </h2>

<h2> {{strdetails1 | slice:2}} </h2>
<h2> {{strdetails1 | slice:2:5}} </h2>

<h2> {{person | json}} </h2> 

 <h2>  {{5.678 | number : '1.2-3' }} </h2>
<h2>  {{5.678456 | number : '1.2-3' }} </h2>
<h2>  {{5.678556 | number : '2.2-3' }} </h2>
<h2> {{num1 |number : '2.2-3' }} </h2>
<h2> {{567.6789 | number : '2.2-3'}} </h2> -->

<!-- <h2> {{0.25 | percent}} </h2>
 <h2>  {{0.025 | percent}} </h2>
<h2> {{0.025 | percent:'1.1'}} </h2>
<h2> {{0.091 | percent :'1.2'}} </h2> -->

<!-- <h2> {{0.25 | currency}} </h2>
<h2> {{25 | currency : 'INR'}} </h2>
 <h2>{{25 | currency :'INR':'code'}} </h2>
<h2>{{0.25 | currency :'GBP'}} </h2>   -->

<h2> {{mydate}} </h2>
<h2> {{mydate | date : 'shortDate'}} </h2>

 <h2> {{mydate | date : 'dd-MM-yyyy'}} </h2>

<h2> {{mydate | date : 'dd'}} </h2>
<h2> {{mydate | date : 'MM'}} </h2>

<h2> {{mydate | date : 'yyyy'}} </h2>
<h2> {{mydate | date : 'yy'}} </h2>

<h2> {{mydate | date : 'longDate'}} </h2>  
<!-- chaining of pipe -->
 <h2> {{mydate | date:'longDate' | uppercase }} </h2>

 <h2> {{mydate | date : 'mediumDate' }} </h2>

<h2> {{mydate | date : 'hh:mm:ss'}} </h2>

<h2> {{mydate | date : 'hh:mm'}} </h2> -->