<p>
  property-binding works!
</p>

<input type="text" value="Hi!!!!"> <br><br>

<input type="text" [value]="myname"><br><br>

<h2>Apply Property Binding to Iamge </h2>

<img [src]="imgurl" alt="" style="width: 200px; height: 200px;"><br><br>

<h2>Difference Between String Interpolation vs Property Binding</h2>

<div >
  Div tag Dispaly the Content 
</div> <br><br>

<!-- use string interpolation -->
<div hidden=" {{ishidden}} ">
  Div tag Dispaly the Content using String Interpolation
</div>

<!-- use of property binding -->

<div [hidden]="ishidden">
  Div tag Dispaly the Content using Property Binding
</div>

<br><br><br><br>








