<h1>Component Iteraction Demo!!!</h1>
<!-- {{datafromchild}}
<br><br>
<h1>Child OBJ data is</h1>
<h2>Product Name is :: {{datafromchildOBJ.product}} </h2>
<h2>Product Quantity is :: {{datafromchildOBJ.quantity}} </h2>
<h2>Product Price is :: {{datafromchildOBJ.price}} </h2>

<table>
    <thead>
        <th>#</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Product Price</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of datafromchildARROBJ;index as i">
            <td> {{i+1}} </td>
            <td> {{item.product}} </td>
            <td> {{item.quantity}} </td>
            <td> {{item.price}} </td>

        </tr>
    </tbody>
</table> -->

<h1>Parent Component App component</h1>
<hr>
<hr>
<app-view-child-demo></app-view-child-demo>



<!-- <app-child1 [myparentdata]="msg" ></app-child1> -->

<!-- <app-child1 [myparentobj]="objmsg"></app-child1> -->

<!-- <app-child1 [myparentarrobj]="arrobj"></app-child1> -->

<!-- <app-child2 (childtoparentmsg)="datafromchild=$event"></app-child2> -->

<!-- <app-child2 (childtoparentOBJ)="datafromchildOBJ=$event"></app-child2> -->

<!-- <app-child2 (childtoparentArrObj)="datafromchildARROBJ=$event"></app-child2> -->

