<p>
  strin-interpolation works!
</p>

<h1> String Interpolation {{'Sumit Raokhande'}} </h1>
<h2> {{name}} </h2>
<h2> {{id}} </h2>
<h2> {{2*2}} </h2>
<h2> {{lname.toUpperCase()}} </h2>
<h2> {{getname()}} </h2>

<input type="text" value="Hefshine...."> <br><br>

<input type="text" value=" {{myname}} "><br><br>

<!-- use inline CSS -->
<h3>Inline Css Apply</h3>
<img src="../../assets/Desert.jpg" alt="" style="width: 200px; height: 200px;">
<br><br>
<!-- external way apply CSS -->
<h3>External Css Apply</h3>
<img src="../../assets/Desert.jpg" alt="" id="imgid"><br><br>

<h3>Using Class Apply external CSS  </h3>

<img src="../../assets/Desert.jpg" alt="" class="imgclass" >

<h3> Display Image Using String Interpolation </h3>

<img src=" {{imgname}} " alt="" >




